@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);






body,
input,
textarea,
.mbr-company .list-group-text,
.mbr-section-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price,
.mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
.btn {
  font-family: 'Roboto', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Oxygen', sans-serif;
}
.btn-sm,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block,
.mbr-section-subtitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Oxygen', sans-serif;
}
.mbr-author-desc {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Oxygen', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #455c97 !important;
}
.bg-success {
  background-color: #455c97 !important;
}
.bg-info {
  background-color: #94a5d0 !important;
}
.bg-warning {
  background-color: #94a5d0 !important;
}
.bg-danger {
  background-color: #1d3d8e !important;
}
.btn-primary {
  background-color: #455c97;
  border-color: #455c97;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #2d3c62;
  border-color: #2d3c62;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2d3c62 !important;
  border-color: #2d3c62 !important;
}
.btn-secondary {
  background-color: #fffffd;
  border-color: #fffffd;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #ffffb1;
  border-color: #ffffb1;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ffffb1 !important;
  border-color: #ffffb1 !important;
}
.btn-info {
  background-color: #94a5d0;
  border-color: #94a5d0;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #5f78b9;
  border-color: #5f78b9;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5f78b9 !important;
  border-color: #5f78b9 !important;
}
.btn-success {
  background-color: #455c97;
  border-color: #455c97;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #2d3c62;
  border-color: #2d3c62;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2d3c62 !important;
  border-color: #2d3c62 !important;
}
.btn-warning {
  background-color: #94a5d0;
  border-color: #94a5d0;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #5f78b9;
  border-color: #5f78b9;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #5f78b9 !important;
  border-color: #5f78b9 !important;
}
.btn-danger {
  background-color: #1d3d8e;
  border-color: #1d3d8e;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #10224e;
  border-color: #10224e;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #10224e !important;
  border-color: #10224e !important;
}
.btn-primary-outline {
  background: none;
  border-color: #253151;
  color: #253151;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #455c97;
  border-color: #455c97;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #455c97 !important;
  border-color: #455c97 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #ffff97;
  color: #ffff97;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #fffffd;
  border-color: #fffffd;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #fffffd !important;
  border-color: #fffffd !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6ab0;
  color: #4e6ab0;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #94a5d0;
  border-color: #94a5d0;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #94a5d0 !important;
  border-color: #94a5d0 !important;
}
.btn-success-outline {
  background: none;
  border-color: #253151;
  color: #253151;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #455c97;
  border-color: #455c97;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #455c97 !important;
  border-color: #455c97 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #4e6ab0;
  color: #4e6ab0;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #94a5d0;
  border-color: #94a5d0;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #94a5d0 !important;
  border-color: #94a5d0 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #0c1939;
  color: #0c1939;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #1d3d8e;
  border-color: #1d3d8e;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #1d3d8e !important;
  border-color: #1d3d8e !important;
}
.text-primary {
  color: #455c97 !important;
}
.text-success {
  color: #455c97 !important;
}
.text-info {
  color: #94a5d0 !important;
}
.text-warning {
  color: #94a5d0 !important;
}
.text-danger {
  color: #1d3d8e !important;
}
.alert-success {
  background-color: #455c97;
}
.alert-info {
  background-color: #94a5d0;
}
.alert-warning {
  background-color: #94a5d0;
}
.alert-danger {
  background-color: #1d3d8e;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #455c97;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #455c97;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #455c97;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #455c97;
}
.lead a,
.lead a:hover {
  color: #455c97;
}
.lead blockquote {
  border-color: #455c97;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #8fa0cc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #8fa0cc;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #4f77db;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #000;
}
/* DirectM */
a {
  color: #94a5d0;
}
a:hover {
  color: #333;
}
/*header1*/
.header1 .mbr-arrow a i {
  color: #ffffff;
}
.header1 .mbr-arrow a:hover i {
  color: #455c97;
}
/*header2*/
.header1.header2 .mbr-arrow a i {
  color: #222222;
}
.header1.header2 .mbr-arrow a:hover i {
  color: #455c97;
}
/*features1*/
.features1 .carousel-indicators li.active {
  border: 5px solid #455c97;
}
/*features12*/
.features12 .card .mbr-iconfont,
.features14 .card .mbr-iconfont,
.features16 .card .mbr-iconfont {
  font-family: 'Oxygen', sans-serif;
}
/*msg-box1*/
.msg-box1 ul li:before {
  background-color: #455c97;
}
.msg-box1 .round-block {
  background: linear-gradient(45deg, #3a4d7e, #455c97, #5b74b4);
}
/*tabs1*/
.tabs1 ul li a.active {
  border-bottom-color: #455c97 !important;
}
.tabs1 .tab-list-wraper ul li:before {
  background-color: #455c97;
}
.tabs1 .colorBG {
  background-color: #455c97;
}
/*content*/
.content2 blockquote {
  border-left: 3px solid #455c97;
}
.content4 p {
  border-bottom: 3px solid #455c97;
  border-top: 3px solid #455c97;
}
/*follow1*/
.follow1 .btn-social {
  color: #455c97;
  border-color: #455c97;
}
.follow1 .btn-social:hover {
  color: #5b74b4;
  background: rgba(69, 92, 151, 0.1);
  border-color: #5b74b4;
}
/*share1*/
.share1 .btn-social {
  color: #455c97;
  border-color: #455c97;
}
.share1 .btn-social:hover {
  color: #5b74b4;
  background: rgba(69, 92, 151, 0.1);
  border-color: #5b74b4;
}
/* Slider */
.mbr-slider .carousel-indicators .active {
  background-color: #455c97;
}
/* Gallery */
.mbr-gallery-filter ul li {
  font-family: 'Raleway', sans-serif;
}
.mbr-gallery-filter li {
  color: #94a5d0;
}
.btn-empty:focus {
  color: #455c97;
}
/* captions */
.mbr-figure-caption {
  background-color: #616161;
  color: #fff;
}
/* tabs1 */
.tabs1 ul li a {
  color: #94a5d0;
}
/*tabs3*/
.tabs3 .nav-tabs .nav-link.active {
  border: 5px solid #455c97;
}
/* testimonials1*/
.testimonials1 .carousel-indicators li.active {
  border: 5px solid #455c97;
}
.hamburger-icon {
  background-color: #455c97 !important;
}
.hamburger-icon:before {
  background-color: #455c97;
}
.hamburger-icon:after {
  background-color: #455c97;
}
#menu2-3 .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-3 .navbar-toggler {
  color: #000000;
}
#menu2-3 .close-icon::before,
#menu2-3 .close-icon::after {
  background-color: #000000;
}
#menu2-3 .link,
#menu2-3 .dropdown-item {
  color: #000000;
  font-family: 'Libre Franklin', serif;
}
#menu2-3 .link {
  font-size: 0.8125rem;
}
#menu2-3 .dropdown-item,
#menu2-3 .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu2-3 .link:hover,
#menu2-3 .link:focus {
  color: #455c97;
}
#menu2-3 .dropdown-item:hover::before,
#menu2-3 .dropdown-item:focus::before {
  background: #455c97;
}
#menu2-3 .dropdown-item:hover,
#menu2-3 .dropdown-item:focus {
  color: #000000;
}
#menu2-3 .link[aria-expanded="true"],
#menu2-3 .dropdown-menu {
  background: #ffffff;
}
#menu2-3 .nav-dropdown-sm .link:focus,
#menu2-3 .nav-dropdown-sm .link:hover,
#menu2-3 .nav-dropdown-sm .dropdown-item:focus,
#menu2-3 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu2-3 .navbar,
#menu2-3 .nav-dropdown-sm,
#menu2-3 .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-3 .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu2-3 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu2-3 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-3 .bg-color.transparent.opened .link:hover,
#menu2-3 .bg-color.transparent.opened .link:focus {
  color: #455c97;
}
#menu2-3 .link[aria-expanded="true"],
#menu2-3 .dropdown-item[aria-expanded="true"] {
  color: #455c97!important;
}
#slider-z .mbr-section-title,
#slider-z .mbr-section-text {
  color: #fff;
}
#slider-z .mbr-section-title {
  font-size: 60px;
}
#header5-4 .mbr-section-title,
#header5-4 .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #ffffff;
}
#header5-4 .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#header5-4 .mbr-table-cell {
  vertical-align: middle;
}
#header5-4 .heading-text {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
#header5-4 .heading-title B {
  font-size: 48px;
}
#header5-5 .mbr-section-title,
#header5-5 .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #ffffff;
}
#header5-5 .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#header5-5 .mbr-table-cell {
  vertical-align: middle;
}
#header5-5 .heading-text {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
#header5-5 .heading-title {
  font-size: 48px;
}
#features21-v .card .mbr-iconfont {
  background: #667bb1;
  border-color: #667bb1;
}
#features21-v .mbr-table-cell {
  vertical-align: middle;
}
#subscribe1-l .form-control-label {
  color: undefined;
}
#features2-m .mbr-iconfont {
  color: #455c97;
  border-color: #455c97;
}
#features2-m .heading-text B {
  font-size: 36px;
  color: #bb412e;
}
#features2-m .card-text {
  font-size: 16px;
}
#features2-m .card-title {
  font-size: 24px;
}
#content5-n .mbr-section-title,
#content5-n .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #ffffff;
}
#content5-n .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#content5-n .mbr-table-cell {
  vertical-align: middle;
}
#content5-n .heading-title {
  font-size: 48px;
}
#form3-8 .card {
  background-color: transparent;
  box-shadow: none;
  border: none;
}
#form3-8 .card-img a {
  color: #616161;
  border-color: #616161;
  border-width: 2px;
  line-height: 72px;
}
#form3-8 .heading {
  background: #5f6f96;
}
#form3-8 .form-title {
  color: #fffffd;
  font-size: 15px;
}
#form3-8 .form-title SPAN {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
#footer4-a p {
  color: #000;
}
#footer4-a P {
  color: #fffffd;
}
#menu2-11 .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-11 .navbar-toggler {
  color: #000000;
}
#menu2-11 .close-icon::before,
#menu2-11 .close-icon::after {
  background-color: #000000;
}
#menu2-11 .link,
#menu2-11 .dropdown-item {
  color: #000000;
  font-family: 'Libre Franklin', serif;
}
#menu2-11 .link {
  font-size: 0.8125rem;
}
#menu2-11 .dropdown-item,
#menu2-11 .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu2-11 .link:hover,
#menu2-11 .link:focus {
  color: #455c97;
}
#menu2-11 .dropdown-item:hover::before,
#menu2-11 .dropdown-item:focus::before {
  background: #455c97;
}
#menu2-11 .dropdown-item:hover,
#menu2-11 .dropdown-item:focus {
  color: #000000;
}
#menu2-11 .link[aria-expanded="true"],
#menu2-11 .dropdown-menu {
  background: #ffffff;
}
#menu2-11 .nav-dropdown-sm .link:focus,
#menu2-11 .nav-dropdown-sm .link:hover,
#menu2-11 .nav-dropdown-sm .dropdown-item:focus,
#menu2-11 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu2-11 .navbar,
#menu2-11 .nav-dropdown-sm,
#menu2-11 .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-11 .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu2-11 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu2-11 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-11 .bg-color.transparent.opened .link:hover,
#menu2-11 .bg-color.transparent.opened .link:focus {
  color: #455c97;
}
#menu2-11 .link[aria-expanded="true"],
#menu2-11 .dropdown-item[aria-expanded="true"] {
  color: #455c97!important;
}
#footer4-12 p {
  color: #000;
}
#footer4-12 P {
  color: #fffffd;
}
#header1-13 .mbr-iconfont {
  color: #fff;
  border-color: #fff;
}
#header1-13 .mbr-table-cell {
  vertical-align: bottom;
}
#menu2-14 .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-14 .navbar-toggler {
  color: #000000;
}
#menu2-14 .close-icon::before,
#menu2-14 .close-icon::after {
  background-color: #000000;
}
#menu2-14 .link,
#menu2-14 .dropdown-item {
  color: #000000;
  font-family: 'Libre Franklin', serif;
}
#menu2-14 .link {
  font-size: 0.8125rem;
}
#menu2-14 .dropdown-item,
#menu2-14 .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu2-14 .link:hover,
#menu2-14 .link:focus {
  color: #455c97;
}
#menu2-14 .dropdown-item:hover::before,
#menu2-14 .dropdown-item:focus::before {
  background: #455c97;
}
#menu2-14 .dropdown-item:hover,
#menu2-14 .dropdown-item:focus {
  color: #000000;
}
#menu2-14 .link[aria-expanded="true"],
#menu2-14 .dropdown-menu {
  background: #ffffff;
}
#menu2-14 .nav-dropdown-sm .link:focus,
#menu2-14 .nav-dropdown-sm .link:hover,
#menu2-14 .nav-dropdown-sm .dropdown-item:focus,
#menu2-14 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu2-14 .navbar,
#menu2-14 .nav-dropdown-sm,
#menu2-14 .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-14 .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu2-14 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu2-14 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-14 .bg-color.transparent.opened .link:hover,
#menu2-14 .bg-color.transparent.opened .link:focus {
  color: #455c97;
}
#menu2-14 .link[aria-expanded="true"],
#menu2-14 .dropdown-item[aria-expanded="true"] {
  color: #455c97!important;
}
#counters1-19 .count {
  color: #74a3c7;
}
#counters1-19 .mbr-section-text {
  color: #fffffd;
}
#counters1-19 .count B {
  color: #fffffd;
}
#content3-1b .mbr-section-title,
#content3-1b .mbr-section-subtitle {
  text-align: center;
}
#features16-1a .mbr-iconfont {
  background: #424242;
  border-color: #424242;
}
#features16-1a .card-text {
  text-align: left;
}
#content3-1c .mbr-section-title,
#content3-1c .mbr-section-subtitle {
  text-align: center;
}
#content3-1h .mbr-section-title,
#content3-1h .mbr-section-subtitle {
  text-align: center;
}
#content2-1i H1 {
  color: #000000;
}
#content2-1i H4 {
  color: #000000;
}
#content2-1j H4 {
  color: #000000;
}
#content2-1l H1 {
  color: #000000;
}
#content2-1l H4 {
  color: #000000;
}
#content2-1m H4 {
  color: #000000;
}
#content3-1n .mbr-section-title,
#content3-1n .mbr-section-subtitle {
  text-align: center;
}
#footer4-15 p {
  color: #000;
}
#footer4-15 P {
  color: #fffffd;
}
#content3-18 .mbr-section-title,
#content3-18 .mbr-section-subtitle {
  text-align: center;
}
#content3-18 H1 {
  color: #fffffd;
}
#content3-18 B {
  color: #fffffd;
}
#content3-18 P {
  color: #fffffd;
  font-size: 20px;
}
#counters1-17 .count {
  color: #fffffd;
}
#counters1-17 .mbr-section-text {
  color: #fffffd;
}
